.idea/*
*.pyc
__pycache__/
*egg-info/
.vscode
mimoEnv/imgs/*
mimoEnv/models/*
mimoEnv/benchmarks
mimoGrowth/log.txt
test*
models*
MJDATA.TXT
mjmodel.mjb
*.csv
mimoEnv/envs/roll_over_tensorboard_callback.py
results/tensorboard_log_plot.py
results/tensorboard_to_csv.py
*.png
mimoAgent/rig_*
algorithms
*.ipynb
png
*.PNG
intrinsic_goal_test
MUJOCO_LOG.TXT
